name: lint
on:
  push:

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    name: cargo fmt
    steps:
      - uses: actions/checkout@v4

      - name: install stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: rustfmt

      - name: cargo fmt
        run: cargo fmt --all -- --check
  test-stable:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest, windows-2019, ubuntu-latest]
    name: cargo clippy+test
    steps:
      - uses: actions/checkout@v4

      - name: install libx11-dev
        run: |
          sudo apt update
          sudo apt install libx11-dev libpango1.0-dev libxkbcommon-dev libxkbcommon-x11-dev libgtk-3-dev
        if: contains(matrix.os, 'ubuntu')

      - name: install stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: clippy

      - name: restore cache
        uses: Swatinem/rust-cache@v2

      # Clippy packages in deeper-to-higher dependency order
      - name: cargo clippy druid features
        run: cargo clippy --all-targets -- -D warnings

      - name: cargo clippy no-druid features
        run: cargo clippy --all-targets --no-default-features -- -D warnings

      - name: cargo clippy debug features
        run: cargo clippy --all-targets --no-default-features --features debug -- -D warnings
